:root{
    --black-color: rgb(18, 20, 23);
    --dark-grey-color: rgb(54,53,53);
    --blue-color: rgb(52, 112, 255);
    --dark-blue-color: rgb(11, 68, 205);
    --grey-color: rgba(18, 20, 23, 0.5);
    --after-grey-color:rgba(18, 20, 23, 0.2);
    --light-grey-color: rgb(247, 247, 251);
    --white-color: rgb(255, 255, 255);
    --gold-color: rgb(202, 151, 91);
}